<%= render 'shared/errors', object: f.object %>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true %>
</p>
<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true %>
</p>
<p>
  <%= f.label :username %>
  <%= f.text_field :username, required: true %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email, required: true %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password, required: true %>
</p>
<p>
  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation, required: true %>
</p>