<%= render 'shared/errors', object: f.object %>
<p>
  <%= f.label :user %>
  <%= f.collection_select(:user_id, User.all, :id, :username) %>
</p>
<p>
  <%= f.label :url %>
  <%= f.url_field :url, :required => true %>
</p>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true %>
</p>
<p>
  <%= f.label :rating %>
  <%= select :bookmark, :rating, 1..5 %>
</p>
<p>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</p>
<p>
  <%= f.label :private %>
  <%= f.check_box :private %>
</p>
