<h1>Popular</h1>
  <section id="popular_feed" class="feed">
    <% @bookmarks.each_with_index do |bookmark, index| %>
      <article>
        <h3>
          <%= link_to bookmark[:title], bookmark[:url] %>
          <span class="editB">
            <%= link_to "View", bookmark_path(index) %>
          </span>
        </h3>
        <div>      
          <%= link_to bookmark[:domain], bookmark[:url] %>
          <span> <%= bookmark[:rating] %> stars </span>
        </div>
        <p>
          <%= bookmark[:description] %>
        </p>
      </article>
    <% end %>
  </section>