<header class="navHeader">
  <div class="content navContent">
    <a id="logo">ClutterBox</a>
    <nav>
      <ul>
        <li><%= link_to "Home", user_path(1) %></li>
        <li><%= link_to "Popular", popular_bookmarks_path %></li>
        <li><a href="#">Tags</a></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Account", edit_user_path(1) %></li>
        <li><%= link_to "Logout", root_path %></li>
      </ul>
    </nav>
  </div>
</header>