<header class="navHeader">
  <div class="content navContent">
    <a id="logo">ClutterBox</a>
    <nav>
      <ul>
        <li><%= link_to "My Bookmarks",user_path(User.first) %></li>
        <li><%= link_to "Popular", popular_bookmarks_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Account", edit_user_path(User.first) %></li>
        <li><%= link_to "Logout", root_path %></li>
      </ul>
    </nav>
  </div>
</header>