<header class="navHeader">
  <div class="content navContent">
    <a id="logo">ClutterBox</a>
    <nav>
      <ul>
        <li><%= link_to "Home", user_path(1) %></li>
        <li><%= link_to "Popular", bookmarks_path %></li>
        <li><a href="tags/chico.html">Tags</a></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Account", edit_user_path(1) %></li>
        <li><a href="../index.html">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>